<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSB.Modules.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RSB.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RSB.Mail.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSB.Modules.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RSB.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RSB.Modules.Templater.Properties.Settings>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="TemplatesDirPath" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="TemplatesDllPath" serializeAs="String">
                <value>Templates.dll</value>
            </setting>
        </RSB.Modules.Templater.Properties.Settings>
        <RSB.Templater.Properties.Settings>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="TemplatesDirPath" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="TemplatesDllPath" serializeAs="String">
                <value>Templates.dll</value>
            </setting>
        </RSB.Templater.Properties.Settings>
        <RSB.Mail.Templater.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="TemplatesDirPath" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="TemplatesDllPath" serializeAs="String">
                <value>Templates.dll</value>
            </setting>
        </RSB.Mail.Templater.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RSB.Modules.Templater.Properties.Settings>
            <setting name="RoutingKey" serializeAs="String">
                <value>Default</value>
            </setting>
        </RSB.Modules.Templater.Properties.Settings>
        <RSB.Templater.Properties.Settings>
            <setting name="RoutingKey" serializeAs="String">
                <value>DefaultTemplater</value>
            </setting>
        </RSB.Templater.Properties.Settings>
    </userSettings>
</configuration>