<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSB.Modules.Mail.SmtpSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RSB.Mail.SmtpSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RSB.MailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSB.Modules.Mail.SmtpSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RSB.Mail.SmtpSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RSB.Modules.Mail.SmtpSender.Properties.Settings>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="MailHostname" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>example@mail.com</value>
            </setting>
            <setting name="MailUsername" serializeAs="String">
                <value>example@mail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>Demo</value>
            </setting>
            <setting name="MailPort" serializeAs="String">
                <value>587</value>
            </setting>
        </RSB.Modules.Mail.SmtpSender.Properties.Settings>
        <RSB.Mail.SmtpSender.Properties.Settings>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="MailHostname" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>example@mail.com</value>
            </setting>
            <setting name="MailUsername" serializeAs="String">
                <value>example@mail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>example</value>
            </setting>
            <setting name="MailPort" serializeAs="String">
                <value>587</value>
            </setting>
        </RSB.Mail.SmtpSender.Properties.Settings>
        <RSB.MailSender.Properties.Settings>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="MailHostname" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>example@mail.com</value>
            </setting>
            <setting name="MailUsername" serializeAs="String">
                <value>sampleuser.example@mail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>samplePassword</value>
            </setting>
            <setting name="MailPort" serializeAs="String">
                <value>587</value>
            </setting>
        </RSB.MailSender.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RSB.Modules.Mail.SmtpSender.Properties.Settings>
            <setting name="RoutingKey" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
        </RSB.Modules.Mail.SmtpSender.Properties.Settings>
        <RSB.Mail.SmtpSender.Properties.Settings>
            <setting name="RoutingKey" serializeAs="String">
                <value>DefaultSmtp</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
        </RSB.Mail.SmtpSender.Properties.Settings>
    </userSettings>
</configuration>